<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  {{!--
  <link
    href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
    rel='stylesheet' /> --}}
  <style>
    /* Font from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    /* General styling */
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      margin: 0 auto;
      max-width: 600px;
      padding: 20px;
      text-align: center;
    }

    .banner-img {
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.1em;
      margin-bottom: 15px;
    }

    .reset-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #6faef2;
      color: #000000;
      text-decoration: none;
      border-radius: 5px;
    }

    .social-links {
      margin-top: 20px;
    }

    .social-links a {
      display: inline-block;
      margin: 0 10px;
      color: #9226fe;
      text-decoration: none;
    }

    .logo {
      height: 50px;
    }
  </style>
  <title>Password Reset</title>

</head>

<body>
  <div class="container">
    <img class="logo" src="https://seeklogo.com/images/L/letter-a-business-company-logo-8BF9837C8D-seeklogo.com.png"
      alt="Company Logo">
    {{!-- <img class="banner-img" src="https://example.com/banner.jpg" alt="Banner Image"> --}}
    <p>Hello {{userName}},</p>
    <p>We received a request to reset your password. Click the button below to reset it:</p>
    <a href="{{resetLink}}" class="reset-link">Reset Password</a>
    <p>If you didn't request this, you can ignore this email.</p>
    <p>For any questions or concerns, please contact us at <a href="mailto:contact@example.com">contact@example.com</a>
    </p>

    <div class="social-links">
      <a href="https://www.facebook.com/example" target="_blank">Facebook</a>
      <!-- Add more social media links as needed -->
    </div>
    <p>Thanks,<br>Academic Administration Solution</p>
  </div>
</body>

</html>